{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Obvestila' %}</title>
</head>
<body>
<div class="dndkeywordauthorsession" style="color: #222222; font-family: Arial; font-size: 14px; line-height: 18px;">
	{% trans 'Živjo' %}! <br/><br/>
	{% trans 'Na ta e-naslov je nekdo prijavil Parlameter obvestila za ključno besedo' %} "<strong>{{ keyword }}</strong>".</br>
	{% trans 'Če si bil/-a to ti, potrdi naročilo s klikom na povezavo:' %}
	<a href="{% trans 'https://parlacards-slovenija.lb.djnd.si/tools/notifications/?id=undefined&no_card_data=true&locale=sl&template=share&action=confirm' %}&uuid={{ uuid }}&kid={{ kid }}" style="color: #222222; font-family: Arial; font-size: 14px;"><u>{% trans 'klikni tukaj' %}</u></a> <br/><br/>
	{% trans 'Srečno' %},<br/>
	{% trans 'ekipa Parlametra' %}
</div>
<div class="dndborder" style="padding: 10px 0 15px 0; margin: 10px 0; border-top: 1px solid #cccccc; width: 50%;">&nbsp;</div>
	<a class="logo" href="{% trans 'https://parlameter.si/' %}">
		<img class="logo-image-height" src="{% trans 'https://parlassets-slovenija.lb.djnd.si/img/logo-parlameter.svg' %}" alt="logo" width="100px">
	</a>
	<div class="footer" style="color: #222222; font-family: Arial; font-size: 10px;">
	{% trans 'Uredi svoje nastavitve' %} <a href="{% trans 'https://parlacards-slovenija.lb.djnd.si/tools/notifications/?id=undefined&no_card_data=true&locale=sl&template=share&action=list' %}&uuid={{ uuid }}" style="color: #222222; font-family: Arial; font-size: 10px;">{% trans 'tukaj' %}</a>.
	</div>
</div>
</body>
</html>
