@use "colors";

@each $option, $color in colors.$option-colors {
  .#{$option}-fill {
    fill: $color;
  }
}

@mixin link-hover {
  color: colors.$link;

  &:hover {
    text-decoration: none;
    color: colors.$link-hover;
  }
}

.funblue-light-hover {
  @include link-hover;
}

.inactive {
  filter: grayscale(100%);
}
