@use "colors";

@each $option, $color in colors.$option-colors {
  .#{$option}-fill {
    fill: $color;
  }
}

@mixin link-hover {
  transition: background-color 0.2s;
  color: colors.$link;

  &:hover {
    background-color: colors.$link-hover-background;
    text-decoration: none;
    color: colors.$link;
  }
}

.funblue-light-hover {
  @include link-hover;
}

.inactive {
  filter: grayscale(100%);
}
