/////////////////////////////
/////// GLOBAL COLORS ///////
/////////////////////////////

// gradient
$first: #f0f;
$second: #f0f;
$third: #f0f;

$gradient-first: #163d73;
$gradient-second: #0166FE;
// $gradient-third: #f0f;

// tabs
$tab-active: #0150C6;
$tab-hover: #0146AD;
$tab-passive: #163d73;

// links
$link: #163d73;
$link-hover-background: #e8ecf1;

// card footer buttons
$card-footer-button-passive-background: $link;
$card-footer-button-hover-background: $tab-hover;

// scroller
$scroller: #e8ecf1;
$element: $link;

// divider
$divider: #c8c8c8;

// barcharts
$barchart-this: #163d73;
$barchart-other: #0166FE;
$barchart-default: #0166FE;

// icons
$icon-accepted: #59976A;
$icon-rejected: #731650;
$icon-session: #731650;
$icon-transcript: $link;
$icon-transcript-hover-background: #e8ecf1;


// buttons
$button-for: #59976A;
$button-against: #731650;
$button-abstained: #0394CE;
$button-absent: #163d73;

// dropdown
$dropdown-arrow: $link;
$dropdown-selected-element: #efefef;

// other
$light-background: #F1F5F7;
// $light-background-link: #900900;
$tools-arrow: $second;
$cta-passive-background: #005C99;
$cta-hover-background: #0071BD;
$tools-arrow: $cta-passive-background;
$load-icon: $link;

// common
$white: #ffffff;
$font-default: #333333;
$font-placeholder: #c8c8c8;
$background: #f0f0f0;
$tools-border: #c8c8c8;
$tools-background-hover: #dddbdb;

// prisotnost skozi cas chart
$time-presence-present-passive: #bbebff;
$time-presence-present-active: $second;
$time-presence-absent-passive: #ffe0da;
$time-presence-absent-active: $third;
$time-presence-no-term-passive: $font-placeholder;
$time-presence-no-term-active: $button-absent;

// raba skozi cas chart
$time-use-bar-active: $second;
$time-use-bar-passive: $tab-hover;

// time chart
$time-chart-active: #59976A;
$time-chart-passive: $link;

$vote-colors: (
  'for': $button-for,
  'against': $button-against,
  'absent': $button-absent,
  'abstain': $button-abstained,
  'did-not-vote': #8a8a8a
);

$proper-vote-colors: (
  'for': $button-for,
  'against': $button-against,
  'absent': $button-absent,
  'abstain': $button-abstained,
  'did-not-vote': #8a8a8a
);

$option-colors: (
  'for': $button-for,
  'against': $button-against,
  'absent': $button-absent,
  'abstain': $button-abstained,
  'did-not-vote': #8a8a8a
);

// hover colors TODO
$white-hover: rgba($white, 0.7);
$second-hover: rgba($second, 0.7);
$link-hover-background-hover: $link-hover-background;
$link-hover: rgba($link, 0.7);
$button-for-hover: rgba($button-for, 0.7);
$button-against-hover: rgba($button-against, 0.7);
$button-absent-hover: rgba($button-absent, 0.7);
$button-abstained-hover: rgba($button-abstained, 0.7);
// $first-light-hover: #feefec;

$option-colors-hover: (
  'for': $button-for-hover,
  'against': $button-against-hover,
  'absent': $button-absent-hover,
  'abstain': $button-abstained-hover,
  'did-not-vote': #c8c8c8
);

$proper-vote-colors-hover: (
  'for': $button-for-hover,
  'against': $button-against-hover,
  'absent': $button-absent-hover,
  'abstain': $button-abstained-hover,
  'did-not-vote': #c8c8c8
);

$binary-vote-colors: (
  'binary-for': $icon-accepted,
  'binary-against': $icon-rejected
);

$binary-vote-colors-hover: (
  'binary-for': rgba($icon-accepted, 0.7),
  'binary-against': rgba($icon-rejected, 0.7),
);

$vote-results-colors: (
  'enacted': $icon-accepted,
  'adopted': $icon-accepted,
  'rejected': $icon-rejected,
  'retracted': $icon-rejected,
  'submitted': $icon-accepted,
  'received': $icon-accepted,
  'in_procedure': $font-default,
  'suspended': $font-default,
);

$vote-results-colors-hover: (
  'enacted': rgba($icon-accepted, 0.7),
  'adopted': rgba($icon-accepted, 0.7),
  'rejected': rgba($icon-rejected, 0.7),
  'retracted': rgba($icon-rejected, 0.7),
  'submitted': rgba($icon-accepted, 0.7),
  'received': rgba($icon-accepted, 0.7),
  'in_procedure': rgba($font-default, 0.7),
  'suspended': rgba($font-default, 0.7),
);

$error: #cc0000;
