<%- await include('../_partials/header.ejs') %>

<%- fetchCard('/misc/groups/', rootOrgId, { generator: true, hiddenAnalyses: "vocabulary_size", "showExportButton": true }) %>

<div style="height:25px"></div>

<%- fetchCard('/misc/groups/', rootOrgId2, { generator: true, hiddenAnalyses: "vocabulary_size", cardInfoKey: "card.info2" }) %>

<%- await include('../_partials/footer.ejs') %>
