<%- await include('../_partials/header.ejs') %>


<div class="card-container" id="about">
    <div class="card-content">
        <h2 class="text-center" style="margin-top: 16px; margin-bottom: 24px;"><span class="gradient-title" style="font-size: 36px;"><%- i18n('legal.title') %></span></h2>
        <div class="legal-text-container">
            <%- i18n('legal.body') %>
        </div>
    </div>
</div>


<%- await include('../_partials/footer.ejs') %>
