{% load i18n %}
{% load static %}
<html>

<body>
    <div>
        <h2>{% translate 'Parladata data validator' %}</h2>
    </div>
    <div>
        {% if duplicated_sessions %}
        Duplicated sessions:</br></br>
        {% for session in duplicated_sessions %}
            {% for session_id in session.id %}
                <a href="{{ base_url }}{% url 'admin:parladata_session_change' session_id %}">{{session.name}}</a></br>
            {% endfor %}
        {% endfor %}
        </br></br>
        {% endif %}

        {% if duplicated_votes %}
        There are duplicated votes: </br>
        {% for vote in duplicated_votes %}
        {% if vote.id %}
        <a href="{{ base_url }}{% url 'admin:parladata_vote_change' vote.id %}">{{ vote.name }}</a></br>
        {% else %}
        {{ vote.name }}</br>
        {% endif %}
        {% endfor %}
        </br></br>
        {% endif %}

        {% if invalid_ballots %}
        There are something wrong with ballots in votes: </br>
        {% for vote in invalid_ballots %}
        <p>
            Balots:{{ vote.count }} </br>
            Voters:{{ vote.number_of_voters }} </br>
            Extra voters:{{ vote.extra_voter_id }} </br>
            Missing voters:{{ vote.missing_voter_ids }} </br>
            Date and time:{{ vote.date }}</br>
            <a href="{{ base_url }}{% url 'admin:parladata_vote_change' vote.vote.id %}">{{ vote.vote.name }}</a>
        </p>
        {% endfor %}
        </br></br>
        {% endif %}

        {% if sessions_with_duplicated_speeches %}
        There are duplicated speeches on sessions:
        {% for session in sessions_with_duplicated_speeches %}
        <p>
            <a href="{{ base_url }}{% url 'admin:parladata_speech_changelist' %}?session__id__exact={{ session.id }}">
                {{session.name }}
            </a>
        </p>
        {% endfor %}
        </br></br>
        {% endif %}

    </div>
    <div>
    </div>
</body>

</html>